/* autocomplete styling */

.ui-menu, .ui-menu-item, .auto-complete {
    z-index: 1000;
    list-style-type: none;
    width: 250px;
    cursor: pointer;
}

.ui-menu {
    background-color: white;
    border: 1px solid black;
}

#userInput {
    width: 250px;
}

.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
