body {
    display: flex;
    justify-content: center;
    background-color: rgb(30, 41, 102);
}
h1,h2 { font-family: Marvel; 
     font-style: italic;
      font-variant: normal;
       font-weight: 700;
        line-height: 14px; } 
p {
    color: white;
}
/* Heart Emoji */
#heart { 
    position: relative; 
    width: 100px; 
    height: 90px; 
    display: inline-block;
} 

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: red; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}

/* autocomplete styling */

.ui-menu, .ui-menu-item, .auto-complete {
    z-index: 1000;
    list-style-type: none;
    top: 0;
    cursor: pointer;
    max-height: 20vh;
    overflow-y: auto;
}

.ui-menu {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    position: absolute;
}

.ui-menu-item:hover {
    background-color: red;
    color: white;
}

#userInput, #nameInput {
    width: 250px;
}

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
